.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(45deg,#000000, #0f330f, #022904);
}

h1 {
  text-align: center;
  color: #fff;
}

.card-types {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card-type {
  flex-basis: 30%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-type h2 {
  margin-top: 0;
}

.card-type img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

ul {
  padding: 0;
  margin: 10px 0;
}

ul li {
  list-style-type: disc;
  margin-left: 20px;
}

form {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="tel"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 15px 30px;
  background-color: rgb(5, 32, 23);
  color: #fff;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

#hoverup {
  width: 45%;
  font-size: 30px;
  font-family: 'Rajdhani', sans-serif;
}

.backGroundForTheLogo {
  background-color: rgba(4, 49, 54, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  height: 70px;
}

.fa-phone {
  width: 15px;
  margin-left: 10px;
  padding-right: 5px;
}

.right-section {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contactUs {
  color: white;
  margin-right: 40px;
  font-size: 16px;
}

.contactUs:hover {
  text-decoration: underline;
}

.button {
  background-color: white;
  color: green;
  border-radius: 2px;
  width: 160px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  font-family: 'Rajdhani', sans-serif;
}

.button:hover {
  background-color: #1abc9c;
  color: white;
  border: 1px solid #1abc9c;
}

.findATM {
  color: white;
  padding-right: 25px;
}

.findATM:hover {
  text-decoration: underline;
}

nav {
  background-color: #0b7079;
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #1abc9c;
}