nav {
  position: sticky;
  margin: auto;
  width: 100%;
  height: 50 px;
  background: #0b7079;
  /* border-radius: 8px; */
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
}

nav a {
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
}

nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  background-color: #1abc9c;
  border-radius: 8px;
  transition: all .5s ease 0s;
}

nav .start-home,
a:nth-child(1):hover~.animation {
  width: 110px;
  left: 0px;
}

nav a:nth-child(1) {
  width: 100px;
}

nav a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0px;
}

nav a:nth-child(2) {
  width: 110px;
}

nav a:nth-child(2):hover~.animation {
  width: 110px;
  left: 100px;
}

nav a:nth-child(3) {
  width: 100px;
}

nav a:nth-child(3):hover~.animation {
  width: 100px;
  left: 210px;
}

nav a:nth-child(4) {
  width: 160px;
}

nav a:nth-child(4):hover~.animation {
  width: 160px;
  left: 310px;
}

nav a:nth-child(5) {
  width: 120px;
}

nav a:nth-child(5):hover~.animation {
  width: 120px;
  left: 470px;
}

nav a:nth-child(6) {
  width: 120px;
}

nav a:nth-child(6):hover~.animation {
  width: 120px;
  left: 590px;
}

#hoverup {
  width: 45%;
  font-size: 30px;
  font-family: 'Rajdhani', sans-serif;
}

.backGroundForTheLogo {
  background-color: rgba(4, 49, 54, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  height: 70px;
}

.fa-phone {
  width: 15px;
  margin-left: 10px;
  padding-right: 5px;
}

.right-section {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contactUs {
  color: white;
  margin-right: 40px;
  font-size: 16px;
}

.button {
  background-color: white;
  color: green;
  border-radius: 2px;
  width: 160px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  font-family: 'Rajdhani', sans-serif;
}

.findATM {
  color: white;
  padding-right: 25px;
}

.changingWallpaper {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 35%;
  /* border-style: solid; */
  flex-wrap: wrap;
  border-width: 3px;
  background-image: url("public/playground_assets/home.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
