/* Box model */

.backGroundForTheLogo {
    background-color: rgba(4, 49, 54, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.fa-phone {
    width: 15px;
    margin-left: 10px;
    padding-right: 5px;
}
.left-section {
    display: flex;
    align-items: center;
}
.right-section {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contactUs {
    color: white;
    margin-right: 40px;
    font-size: 16px;
}

.button {
    background-color: white;
    color: green;
    border-radius: 2px;
    width: 160px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    font-family: 'Rajdhani', sans-serif;
}

.findATM {
    color: white;
    padding-right: 25px;
}

.logo {
    width: 150px;
    height: 70px;
}

.fa-phone {
    width: 15px;
    margin-left: 10px;
    padding-right: 5px;
}

.right-section {
    display: flex;
    align-items: center;
    margin-left: auto;
}




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Typography */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

/* Form Styles */

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 7px;
    font-weight: 700;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0062cc;
}