/* Reset default styles */
html,
body {
    margin: 0;
    padding: 0;
}

/* Header styles */
.header {
    background-color: rgba(4, 49, 54, 255);
    padding: 20px;
    color: #ffffff;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    height: 70px;
}

.header-title {
    margin-left: 20px;
    font-size: 24px;
}

/* Page styles */
.container {
    min-height: 100vh;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.page-title {
    color: rgba(4, 49, 54, 255);
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
}

.dropdown-container {
    display: flex;
    justify-content: center; /* Updated to center align */
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
    font-size: 18px;
}

select {
    padding: 5px;
    font-size: 16px;
}

.transaction-history {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

.transaction-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.transaction-item p {
    margin: 0;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background: #0b7079;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
}

nav a {
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background-color: #1abc9c;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

nav .start-home,
a:nth-child(1):hover~.animation {
    width: 110px;
    left: 0px;
}

nav a:nth-child(1) {
    width: 100px;
}

nav a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0px;
}

nav a:nth-child(2) {
    width: 110px;
}

nav a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
}

nav a:nth-child(3) {
    width: 100px;
}

nav a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
}

nav a:nth-child(4) {
    width: 160px;
}

nav a:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
}

nav a:nth-child(5) {
    width: 120px;
}

nav a:nth-child(5):hover~.animation {
    width: 120px;
    left: 470px;
}

nav a:nth-child(6) {
    width: 120px;
}

nav a:nth-child(6):hover~.animation {
    width: 120px;
    left: 590px;
}

.footer {
    background-color: rgba(4, 49, 54, 255);
    color: white;
    padding: 20px;
    margin-top: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    margin: 0;
}

.footer a {
    color: white;
    text-decoration: none;
}
